* {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

#top {
    display: flex;
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.text-area {
    width: 50%;
    padding-top: 200px;
    margin-left: 250px;
}

h1 {
    font-size: 73px;
    line-height: 87px;
    opacity: 0.7;
}

p {
    font-size: 20px;
    padding-bottom: 15px;
    opacity: 0.8;
}

.color-orange {
    color: orange;
}

.orange-btn {
    text-decoration: none;
    background: linear-gradient(to right, rgb(236, 91, 24), rgb(90, 31, 4));
    padding: 12px;
    font-size: 20px;
    border-radius: 62px;
    color: white;
    box-shadow: 10px 9px 10px orange;
    margin-top: 34px;
    display: inline-block;
}

:hover.orange-btn {
    background-color: orange;
    background: linear-gradient(to right, rgb(44, 102, 226), rgb(118, 126, 17));
    padding: 12px;
    font-size: 15px;
    border-radius: 62px;
    color: rgb(250, 253, 251);
    box-shadow: 10px 9px 10px rgb(255, 81, 0);
    text-transform: uppercase;
}

.image-area {
    width: 50%;
    padding-left: 63px;
    padding-top: 35px;
}

.image-area img {
    width: 100%;
    height: 900px;
}

#middle-area {
    display: flex;
    margin-top: 450px;
    background-image: url(images/images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.image-area-2 {
    width: 100%;
    padding-left: 200px;
}

.image-area-2 img {
    width: 599px;
    padding-top: 40px;
}

.text-area-2 {
    text-align: justify;
    padding-left: 40px;
    padding-right: 450px;
}

.padding-tb {
    padding: 30px 0 30px 0;
    opacity: 0.5;
}

.my-recipie {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.food-blog {
    display: flex;
    margin-right: 25px;
    box-sizing: border-box;
}

.food-blog img {
    width: 478px;
    padding-left: 41px;
    padding-top: 33px;
}

.blog-1 {
    background-color: rgb(253, 251, 251);
    width: 30%;
    height: 650px;
    margin-left: 50px;
    margin-right: 25px;
    padding-left: 0px;
    padding-top: 30x;
    box-shadow: 10px 10px 10px 10px grey;
    border-radius: 40px;
}

.padd-h2-p {
    padding-left: 30px;
}

.blog-2 {
    background-color: rgb(253, 251, 251);
    width: 30%;
    height: 600px;
    margin-left: 50px;
    margin-right: 25px;
    padding-left: 0px;
    padding-top: 30x;
    box-shadow: 10px 10px 10px 10px grey;
    border-radius: 40px;
}

.blog-3 {
    background-color: rgb(253, 251, 251);
    width: 30%;
    height: 600px;
    margin-left: 50px;
    margin-right: 25px;
    padding-left: 0px;
    padding-top: 30x;
    box-shadow: 10px 10px 10px 10px grey;
    border-radius: 40px;
}

.fan-page {
    display: flex;
    margin: 0 auto;
    box-shadow: 10px 3px 28px -7px grey;
    padding: 30px;
    width: 80%;
    height: 300px;
    margin-top: 100px;
    border-radius: 20px;
}

.fan-1 {
    width: 30%;
    height: 300px;
    margin-left: 244px;
    margin-top: 100px;
}

#footer-area {
    margin: 0 auto;
    background: rgb(2, 58, 71);
    text-align: center;
    width: 100%;
    height: 350px;
    margin-top: 100px;
}

.foot-text {
    padding-top: 100px;
    color: gray;
    font-size: 50px;
}

.color-white {
    color: white;
    opacity: 0.5;
}